<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cht</key>
		<string>[88]</string>
		<key>gif</key>
		<string>88_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[angrya]</string>
		<key>gif</key>
		<string>angrya_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bba]</string>
		<key>gif</key>
		<string>bba_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bs2]</string>
		<key>gif</key>
		<string>bs2_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bs]</string>
		<key>gif</key>
		<string>bs_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bz]</string>
		<key>gif</key>
		<string>bz_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[cj]</string>
		<key>gif</key>
		<string>cj_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[clock]</string>
		<key>gif</key>
		<string>clock_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[come]</string>
		<key>gif</key>
		<string>come_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[cool]</string>
		<key>gif</key>
		<string>cool_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[crazya]</string>
		<key>gif</key>
		<string>crazya_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[cza]</string>
		<key>gif</key>
		<string>cza_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[dintuizhuang]</string>
		<key>gif</key>
		<string>dintuizhuang_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[dizzya]</string>
		<key>gif</key>
		<string>dizzya_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[flag]</string>
		<key>gif</key>
		<string>flag_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[fuyun]</string>
		<key>gif</key>
		<string>fuyun_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[gangnamstyle]</string>
		<key>gif</key>
		<string>gangnamstyle_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[geili]</string>
		<key>gif</key>
		<string>geili_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[good]</string>
		<key>gif</key>
		<string>good_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[gstnaini]</string>
		<key>gif</key>
		<string>gstnaini_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[gza]</string>
		<key>gif</key>
		<string>gza_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[h]</string>
		<key>gif</key>
		<string>h_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[hatea]</string>
		<key>gif</key>
		<string>hatea_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[hearta]</string>
		<key>gif</key>
		<string>hearta_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[heia]</string>
		<key>gif</key>
		<string>heia_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[horse2]</string>
		<key>gif</key>
		<string>horse2_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[hsa]</string>
		<key>gif</key>
		<string>hsa_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[hufen]</string>
		<key>gif</key>
		<string>hufen_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[j]</string>
		<key>gif</key>
		<string>j_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[k]</string>
		<key>gif</key>
		<string>k_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[kbsa]</string>
		<key>gif</key>
		<string>kbsa_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[kl]</string>
		<key>gif</key>
		<string>kl_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[laugh]</string>
		<key>gif</key>
		<string>laugh_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[lazu]</string>
		<key>gif</key>
		<string>lazu_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[ldln]</string>
		<key>gif</key>
		<string>ldln_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[liwu]</string>
		<key>gif</key>
		<string>liwu_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[lovea]</string>
		<key>gif</key>
		<string>lovea_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[ltqiekenao]</string>
		<key>gif</key>
		<string>ltqiekenao_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[lxhdeyidixiao]</string>
		<key>gif</key>
		<string>lxhdeyidixiao_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[lxhleifeng]</string>
		<key>gif</key>
		<string>lxhleifeng_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[lxhtouxiao]</string>
		<key>gif</key>
		<string>lxhtouxiao_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[lxhzhuanfa]</string>
		<key>gif</key>
		<string>lxhzhuanfa_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[m]</string>
		<key>gif</key>
		<string>m_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[mb]</string>
		<key>gif</key>
		<string>mb_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[moczhuanfa]</string>
		<key>gif</key>
		<string>moczhuanfa_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[money]</string>
		<key>gif</key>
		<string>money_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[nm]</string>
		<key>gif</key>
		<string>nm_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[no]</string>
		<key>gif</key>
		<string>no_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[ok]</string>
		<key>gif</key>
		<string>ok_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[otm]</string>
		<key>gif</key>
		<string>otm_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[panda]</string>
		<key>gif</key>
		<string>panda_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[ppbguzhang]</string>
		<key>gif</key>
		<string>ppbguzhang_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[qq]</string>
		<key>gif</key>
		<string>qq_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[rabbit]</string>
		<key>gif</key>
		<string>rabbit_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[sad]</string>
		<key>gif</key>
		<string>sad_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[sada]</string>
		<key>gif</key>
		<string>sada_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[sb]</string>
		<key>gif</key>
		<string>sb_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[shamea]</string>
		<key>gif</key>
		<string>shamea_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[shenshou]</string>
		<key>gif</key>
		<string>shenshou_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[sk]</string>
		<key>gif</key>
		<string>sk_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[sleepa]</string>
		<key>gif</key>
		<string>sleepa_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[sleepya]</string>
		<key>gif</key>
		<string>sleepya_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[smilea]</string>
		<key>gif</key>
		<string>smilea_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[sw]</string>
		<key>gif</key>
		<string>sw_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[sweata]</string>
		<key>gif</key>
		<string>sweata_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[t]</string>
		<key>gif</key>
		<string>t_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[tootha]</string>
		<key>gif</key>
		<string>tootha_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[tza]</string>
		<key>gif</key>
		<string>tza_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[vw]</string>
		<key>gif</key>
		<string>vw_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[wg]</string>
		<key>gif</key>
		<string>wg_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[wq]</string>
		<key>gif</key>
		<string>wq_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[x]</string>
		<key>gif</key>
		<string>x_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[xbyali]</string>
		<key>gif</key>
		<string>xbyali_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[ye]</string>
		<key>gif</key>
		<string>ye_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[yhh]</string>
		<key>gif</key>
		<string>yhh_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[yw]</string>
		<key>gif</key>
		<string>yw_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[yx]</string>
		<key>gif</key>
		<string>yx_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[z2]</string>
		<key>gif</key>
		<string>z2_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[zhh]</string>
		<key>gif</key>
		<string>zhh_thumb.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[zy]</string>
		<key>gif</key>
		<string>zy_thumb.gif</string>
	</dict>
</array>
</plist>
